Prototype 4/Library/PackageCache/com.unity.burst@6aff1dd08a0c/.Runtime/libburst-llvm-19.dylib
Prototype 4/Library/PackageCache/com.unity.ai.navigation@eb5635ad590d/Samples~/Scripts/ProjectSettingsUtilities/Editor/Unity.AI.Navigation.Samples.Initialization.Editor.asmdef
Prototype 4/Library/PackageCache/com.unity.ai.navigation@eb5635ad590d/Samples~/Scripts/ProjectSettingsUtilities/Editor/Unity.AI.Navigation.Samples.Initialization.Editor.asmdef.meta
